## Python Basic

In [1]:
a = 3
b = 2
a + b

5

## Python 數值運算

In [3]:
3 + 2 * 8

19

In [4]:
a = 3
b = 2
a + b

5

In [5]:
a - b

1

In [9]:
type(a)

int

In [6]:
c = 2.5
d = 1.5

In [7]:
c + d

4.0

In [8]:
c - d

1.0

In [10]:
type(c)

float

In [11]:
type(2)

int

In [12]:
type('2')

str

In [13]:
type(int('2'))

int

In [14]:
type(int(2))

int

In [15]:
type(2)

int

In [16]:
type(float(2))

float

In [17]:
type('3.2')

str

In [18]:
type(float('3.2'))

float

In [19]:
a = 5
a

5

In [20]:
type(a)

int

In [21]:
a + a

10

In [22]:
a = 10

In [23]:
a

10

In [24]:
a = a + a

In [25]:
a

20

In [26]:
price = 25.6
exchange_rate = 32.33

In [27]:
ntd_price = price * exchange_rate

In [28]:
NTD_PRICE

NameError: name 'NTD_PRICE' is not defined

In [29]:
ntd_price

827.648

## Python 字串

In [30]:
type(2)

int

In [31]:
type('2')

str

In [32]:
type("2")

str

In [33]:
'i'm 28 years old'

SyntaxError: invalid syntax (<ipython-input-33-f3a2cc88ad5b>, line 1)

In [34]:
"i'm 28 years old"

"i'm 28 years old"

In [36]:
'hello'
'world'

'world'

In [37]:
print('hello')
print('world')

hello
world

In [38]:
'媽祖托夢跟我說'

'媽祖托夢跟我說'

In [40]:
print('hello world1')
print('hello world2')
print('\n') # newline 換行字元
print('see what I mean')

hello world1
hello world2


see what I mean

In [41]:
print('this is one line \n this is the second line')

this is one line
 this is the second line

In [42]:
print("""1 2 3
100 200 300
1000 2000 3000
""")

1 2 3
100 200 300
1000 2000 3000

In [43]:
# \t => tab
print("""1\t2\t3
100\t200\t300
1000\t2000\t3000
""")

1	2	3
100	200	300
1000	2000	3000

In [44]:
a = 'this is a loooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooong line'
a

'this is a loooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooong line'

In [45]:
a = 'this is a loooooooooooooooooooooooooooooooooooooooooooooooooo\
oooooooooooooooooooong line'
a

'this is a loooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooong line'

In [48]:
a = '''this is a first line
this is second line
thie is third line'''
print(a)

this is a first line
this is second line
thie is third line

In [49]:
a = """this is a first line
this is second line
thie is third line"""
print(a)

this is a first line
this is second line
thie is third line

In [50]:
s = 'Hello'

In [51]:
s[0]

'H'

In [52]:
s[1]

'e'

In [53]:
s[-1]

'o'

In [54]:
s

'Hello'

In [55]:
s[1:5]

'ello'

In [56]:
# 從一開始取,取到索引小於四的
s[1:4]

'ell'

In [58]:
#從頭到尾
s[:]

'Hello'

In [59]:
# 從零開始取,取到索引小於三的
s[:3]

'Hel'

In [61]:
# 從三開始取,取到索引到最後
s[3:]

'lo'

In [62]:
s = 'Demo20190419.ipynb'
s[4:]

'20190419.ipynb'

In [63]:
s[4:12]

'20190419'

In [64]:
s[4:-6]

'20190419'

In [65]:
s = '[問卦] 哪個上ptt的app最多人用？'
s[1:3]

'問卦'

In [66]:
s

'[問卦] 哪個上ptt的app最多人用？'

In [67]:
s[:]

'[問卦] 哪個上ptt的app最多人用？'

In [68]:
s[::]

'[問卦] 哪個上ptt的app最多人用？'

In [69]:
s[::1]

'[問卦] 哪個上ptt的app最多人用？'

In [71]:
# 從頭到尾取間隔為2的字元出來
s[::2]

'[卦 個ptap多用'

In [72]:
s[5:-1:2]

'哪上t的p最人'

In [73]:
s[::-1]

'？用人多最ppa的ttp上個哪 ]卦問['

In [74]:
s = '上海自來水來自海上'

In [75]:
s

'上海自來水來自海上'

In [76]:
s[::-1]

'上海自來水來自海上'

In [77]:
s == s[::-1]

True

In [79]:
s + ' 這是迴文'

'上海自來水來自海上 這是迴文'

In [81]:
s*3

'上海自來水來自海上上海自來水來自海上上海自來水來自海上'

In [82]:
'對不起' * 100

'對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起對不起'

In [83]:
type(s)

str

In [84]:
help(s)

No Python documentation found for '上海自來水來自海上'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

In [86]:
print(dir(s))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [87]:
s = 'this is my destiny'
s.upper()

'THIS IS MY DESTINY'

In [88]:
help(s.upper)

Help on built-in function upper:

upper(...) method of builtins.str instance
    S.upper() -> str

    Return a copy of S converted to uppercase.

In [89]:
?s.upper

In [90]:
s.lower()

'this is my destiny'

In [91]:
s.split()

['this', 'is', 'my', 'destiny']

In [92]:
len(s)

18

In [93]:
s = '''「這次 ，是我們婚姻中共同重要的一課。這段期間， 我們共同經歷情緒起伏， 我們也就事件詳談很久很深 。

這是夫妻二人之間的一課， 也是往後婚姻路上學習到的一課，我們在婚姻中走進更深處， 婚姻當中除了彼此給予的幸福溫暖， 當中也深深包含了彼此的錯誤和彼此的原諒，人誰無過是老生常談，但事實確是如此啊。

在這次中， 重要的， 是更進一步身歷婚姻其中真諦， 幸福不只是一場場順利美滿，當中也有試煉， 也一起去經歷高低狀況，讓夫妻之間的感情厚度帶領著前行， 更要彼此走進對方的內心，一起正視各自的軟弱， 不放棄自己，不放棄對方，互相糾正， 互相提點，在婚姻歷煉中， 我深信經歷和教訓一定會幫助重回正軌，生命更會更生。

這期間在我們彼此都最難捱的時刻， 握著手一起祈禱， 對我們的幫助極大。今天， 肩上的重擔彷彿輕了很多， 只願一切快平息， 回歸平靜。 最後摯誠請求各大傳媒不要再等候和追訪我年紀老邁行動不便的父母， 沒有更多想表達了，今天以後，就只向前看， 在時間的見證中，繼續一步步前行。」'''

In [94]:
s.count('婚姻')

6

In [101]:
pos = s.find('婚姻')
pos

8

In [100]:
s[pos - 5: pos + 5]

' ，是我們婚姻中共同'

In [102]:
len(s)

445

In [103]:
import re
for e in re.finditer('婚姻', s):
    print(e)

<_sre.SRE_Match object; span=(8, 10), match='婚姻'>
<_sre.SRE_Match object; span=(70, 72), match='婚姻'>
<_sre.SRE_Match object; span=(84, 86), match='婚姻'>
<_sre.SRE_Match object; span=(94, 96), match='婚姻'>
<_sre.SRE_Match object; span=(170, 172), match='婚姻'>
<_sre.SRE_Match object; span=(274, 276), match='婚姻'>
The history saving thread hit an unexpected error (OperationalError('database or disk is full',)).History will not be written to the database.

## Python List

In [104]:
name1 = 'david'
name2 = 'joe'
name3 = 'marry'

In [105]:
a = []
type(a)

list

In [106]:
a = ['david', 'joe', 'marry']

In [107]:
print(['asap', 3])

['asap', 3]

In [108]:
print(list('word'))

['w', 'o', 'r', 'd']

In [109]:
[['list'], ['of', 'list']]

[['list'], ['of', 'list']]

In [111]:
print(list(('a', 1)))

['a', 1]

In [112]:
a = ['hello', 3]

In [113]:
a[0]

'hello'

In [114]:
a[1]

3

In [115]:
a[0] + ' world'

'hello world'

In [116]:
a[1] + 5

8

In [117]:
a = [5,6,7,'s']
a[0]

5

In [118]:
a[2:4]

[7, 's']

In [119]:
a[-1]

's'

In [121]:
a[-2]

7

In [122]:
a[2:]

[7, 's']

In [123]:
a[2:100]

[7, 's']

In [124]:
a[::2]

[5, 7]

In [125]:
a[::-1]

['s', 7, 6, 5]

In [126]:
len(a)

4

In [127]:
print(dir(a))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [128]:
a = [5,6,7,8]

In [129]:
help(a.pop)

Help on built-in function pop:

pop(...) method of builtins.list instance
    L.pop([index]) -> item -- remove and return item at index (default last).
    Raises IndexError if list is empty or index is out of range.

In [131]:
a.pop()

8

In [132]:
a

[5, 6, 7]

In [133]:
?a.append

In [134]:
a.append(2)

In [135]:
a

[5, 6, 7, 2]

In [136]:
a.sort()

In [137]:
a

[2, 5, 6, 7]

In [138]:
a.reverse()

In [139]:
a

[7, 6, 5, 2]

In [140]:
list('a')

['a']

In [141]:
hello = list('hello world')

In [142]:
hello

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [143]:
'a' in hello

False

In [144]:
'h' in hello

True

In [146]:
'許志安' in s

False

In [147]:
a = 2
b = a
b

2

In [148]:
a =5 
a

5

In [149]:
b

2

In [150]:
a =  [1,2,3]
b = a
a[1] = 2000

In [151]:
a

[1, 2000, 3]

In [152]:
b

[1, 2000, 3]

In [153]:
a = [1,2,3]
b = a.copy()
a[1] = 2000

In [154]:
a

[1, 2000, 3]

In [155]:
b

[1, 2, 3]